<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Employee Manager
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% unless manager_signed_in? %>
              <a class="button is-primary" href='/managers/sign_up'>
                <strong>Cadastre-se</strong>
              </a>
              <a class="button is-light" href='/managers/sign_in'>
                Entrar
              </a>
            <% end %>  
            <% if manager_signed_in? %>
              <%= link_to "Sair", destroy_manager_session_path, method: :delete, class: 'button is-light'  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>